<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown  type="Server.MathService, Server" 
                    objectUri="MS" 
                    mode="Singleton" />
        <!--<activated type="Server.MathService, Server"/>-->
      </service>
      <channels>
        <channel ref="http" port="1122"/>
        <channel ref="tcp" port="1123"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>